@page "/details/{Id:int}"
@using BlazorUI.Models
@using BlazorUI.Services
@inject BlazorUI.Services.CoffeeService CoffeeService
@inject BlazorUI.Services.CartService CartService
@inject NavigationManager Nav

@if (SelectedCoffee is null)
{
    <h2>Loading...</h2>
}
else
{
    <div class="details-page">
    
        <div class="header">
            <button class="back-button" @onclick="@(() => Nav.NavigateTo("/menupage"))">
              <b>←</b> 
            </button>
            <!--coffee name-->
            <h2 class="details-title">@SelectedCoffee.Name</h2>
        </div>
        <div class="blob">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#8C5A37" d="M31.9,-56.5C40.9,-50.1,47.3,-40.6,51.1,-30.6C54.9,-20.7,56.1,-10.4,54.8,-0.7C53.5,8.9,49.9,17.8,46.5,28.5C43.1,39.1,40.1,51.6,32.4,58.3C24.7,65,12.3,65.9,1.2,63.8C-9.9,61.8,-19.9,56.7,-31.3,52.2C-42.8,47.7,-55.9,43.7,-65.2,35.1C-74.5,26.5,-80.1,13.3,-81.4,-0.7C-82.6,-14.7,-79.5,-29.4,-72.3,-41.6C-65,-53.7,-53.5,-63.3,-40.8,-67.5C-28,-71.7,-14,-70.6,-1.3,-68.4C11.5,-66.2,22.9,-62.9,31.9,-56.5Z" transform="translate(100 100)" />
            </svg> 
        </div>
        <!-- coffee image -->
        <img src="@SelectedCoffee.Image" class="details-image" />

        <div class="details-info">
            <!--coffee name-->
            <h2 class="details-title">@SelectedCoffee.Name</h2>

            <!-- coffee price -->
            <h3 class="details-price">@TotalPrice SR</h3>
            <!-- quantity selector -->
            <div class="qty-box">
                <button @onclick="Decrease">−</button>
                <span>@Quantity</span>
                <button @onclick="Increase" class="increase-button">+</button>
            </div>
        
        <!-- coffee size -->
        <div class="details-sizes">
            <h3>Size</h3>
            <button  @onclick="@(() => ChangeSize("S"))" class="@Active("S")">S</button>
            <button @onclick="@(() => ChangeSize("M"))" class="@Active("M")">M</button>
            <button @onclick="@(() => ChangeSize("L"))" class="@Active("L")">L</button>
        </div>
    </div>
    
        <button class="add-to-cart" @onclick="AddToCart">
            Add to Cart
        </button>
    </div>
}
@code {
    [Parameter] public int Id { get; set; } //to get id from url

    Coffee SelectedCoffee; 
    int CurrentPrice;
    string SelectedSize = "M";   //size Medium by defulat
    int Quantity = 1;
    int TotalPrice => CurrentPrice * Quantity;

    protected override void OnInitialized()
    {
        SelectedCoffee = CoffeeService.GetCoffeeById(Id);

        if (SelectedCoffee != null)
            CurrentPrice = SelectedCoffee.MediumPrice; // assinging default value for price
    }

    void ChangeSize(string size)
    {
        SelectedSize = size;

        CurrentPrice = size switch
        {
            "S" => SelectedCoffee.SmallPrice,
            "M" => SelectedCoffee.MediumPrice,
            "L" => SelectedCoffee.LargePrice,
            _ => SelectedCoffee.MediumPrice 
        };
    }
        void Increase()
    {
        Quantity++;
    }

    void Decrease()
    {
        if (Quantity > 1)
            Quantity--;
    }

    void AddToCart() //adding item info to cart service
    {
            CartService.AddToCart(new CartItem
        {
            CoffeeName = SelectedCoffee.Name,
            Size = SelectedSize,
            Quantity = Quantity,
            TotalPrice = TotalPrice,
            UnitPrice = CurrentPrice,
            ImageCart= SelectedCoffee.Image
        });

        Console.WriteLine("Item added to cart!");
    }
    string Active(string size) => //to haighlight selected size button
        size == SelectedSize ? "active-size" : "";
}
